/* File created by Ahmed Hamdy at 10/28/2020. */
body {
    font-family: Georgia, serif;
    background: url("../../images/lesson02/silverware.jpg")
    repeat;
}

a {
    color: #a4a400;
    font-size: smaller;
}

h1, h2 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: monospace;
    text-decoration: underline;
    font-weight: lighter;
    font-size: 20px;
    width: fit-content;
    letter-spacing: 6px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}

.mainHeading {
    text-align: center;
    width: 50%;
    margin: auto;
}

ul {
    list-style-image: url("../../images/lesson02/pie_icon.gif");
}

.items {
    line-height: 0;
}

.comment {
    background-color: #ffffa8;
    font-style: italic;
    font-size: 11pt;
}

.through {
    text-decoration: line-through;
}

footer {
    margin-top: 30px;
    text-align: right;
}

footer div.copyRight{
    padding-top: 10px;
    clear: both;
    display: block;
    font-family: monospace;
    line-height: 2px;
}