/* File created by Ahmed Hamdy at 10/28/2020. */

body {
    /* reset body */
    background-color: burlywood;
    font-family: Arial, fantasy;
    font-size: 100%;

    line-height: 1;
    margin: 8px;
    padding: 5px;
}

/*********** LINKS ************/
a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

/*********** HEADER **********/
header > p {
    height: 50px;
}

header > p::first-letter {
    background: red;
    border: 1px solid blue;
    display: block;
    float: left;
    font-size: 3em;
    line-height: 1;
    margin-right: 4px;
    padding: 2px;
}

header > p::first-line {
    line-height: 3;
    margin-top: 20px;
}

/*********** TEXT ************/
h1 {
    color: blue;
    font-family: "Times New Roman", fantasy;
}

h3 {
    color: crimson;
    font-family: Verdana, fantasy;
}

p::first-letter {
    font-size: 1.5em;
}

q {
    color: blueviolet;
    font-style: italic;
    padding: 20px;
}

/*************** DIV AND SPAN ********************/
span.moodStyle {
    font-style: italic;
}

/************* LIST *************/
dt {
    color: darkgreen;
    font-family: cursive, fantasy;
    margin: 5px;
}

li {
    margin: 5px;
}

/************ IMAGE **************/
img.moodStyle {
    width: 300px;
}

/*********** FOOTER ************/
footer {
    margin-top: 30px
}

/********** ID SELECTOR *************/
#moviesList {
    display: flex;
    flex-direction: column-reverse;
}

/************ CLASS SELECTOR **************/
.keyword {
    color: green;
    font-weight: bold;
}